# Exercises
### continuous_probabilistic_methods.py or continuous_probabilistic_methods.ipynb 1. Define a function named get_lower_and_upper_bounds that has two arguments. The first argument is a pandas Series. The second argument is the multiplier, which should have a default argument of 1.5.

### 1. Using lemonade.csv dataset and focusing on continuous variables:

##### - Use the IQR Range Rule and the upper and lower bounds to identify the lower outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these lower outliers make sense? Which outliers should be kept?
##### - Use the IQR Range Rule and the upper and upper bounds to identify the upper outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these upper outliers make sense? Which outliers should be kept?
##### - Using the multiplier of 3, IQR Range Rule, and the lower bounds, identify the outliers below the lower bound in each colum of lemonade.csv. Do these lower outliers make sense? Which outliers should be kept?
##### - Using the multiplier of 3, IQR Range Rule, and the upper bounds, identify the outliers above the upper_bound in each colum of lemonade.csv. Do these upper outliers make sense? Which outliers should be kept?
### 2. Identify if any columns in lemonade.csv are normally distributed. For normally distributed columns:
##### Use a 2 sigma decision rule to isolate the outliers.
##### - Do these make sense?
##### - Should certain outliers be kept or removed?
### 3. Now use a 3 sigma decision rule to isolate the outliers in the normally distributed columns from lemonade.csv

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

---

### 1. Using lemonade.csv dataset and focusing on continuous variables:

##### - Use the IQR Range Rule and the upper and lower bounds to identify the lower outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these lower outliers make sense? Which outliers should be kept?
##### - Use the IQR Range Rule and the upper and upper bounds to identify the upper outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these upper outliers make sense? Which outliers should be kept?
##### - Using the multiplier of 3, IQR Range Rule, and the lower bounds, identify the outliers below the lower bound in each colum of lemonade.csv. Do these lower outliers make sense? Which outliers should be kept?
##### - Using the multiplier of 3, IQR Range Rule, and the upper bounds, identify the outliers above the upper_bound in each colum of lemonade.csv. Do these upper outliers make sense? Which outliers should be kept?

In [2]:
lemons = pd.read_csv('https://gist.githubusercontent.com/ryanorsinger/19bc7eccd6279661bd13307026628ace/raw/e4b5d6787015a4782f96cad6d1d62a8bdbac54c7/lemonade.csv')
lemons

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0      1/1/17     Sunday         27.0      2.00      15    0.5     10
1      1/2/17     Monday         28.9      1.33      15    0.5     13
2      1/3/17    Tuesday         34.5      1.33      27    0.5     15
3      1/4/17  Wednesday         44.1      1.05      28    0.5     17
4      1/5/17   Thursday         42.4      1.00      33    0.5     18
..        ...        ...          ...       ...     ...    ...    ...
360  12/27/17  Wednesday         42.7      1.00      33    0.5     19
361  12/28/17   Thursday         37.8      1.25      32    0.5     16
362  12/29/17     Friday         39.5      1.25      17    0.5     15
363  12/30/17   Saturday         30.9      1.43      22    0.5     13
364  12/31/17     Sunday         15.1      2.50       9    0.5      7

[365 rows x 7 columns]

In [3]:
lemons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         365 non-null    object
 1   Day          365 non-null    object
 2   Temperature  365 non-null    float64
 3   Rainfall     365 non-null    float64
 4   Flyers       365 non-null    int64
 5   Price        365 non-null    float64
 6   Sales        365 non-null    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 20.1+ KB

In [4]:
lemons.Date = pd.to_datetime(lemons.Date)

In [5]:
lemons = lemons.set_index('Date')

In [6]:
for col in lemons:
    print(lemons[col].value_counts(ascending=False))
    print('-----')

Sunday       53
Monday       52
Tuesday      52
Wednesday    52
Thursday     52
Friday       52
Saturday     52
Name: Day, dtype: int64
-----
55.9    8
58.5    7
61.5    7
58.2    6
75.0    6
       ..
69.7    1
58.8    1
64.1    1
63.1    1
15.1    1
Name: Temperature, Length: 176, dtype: int64
-----
0.77    26
0.74    26
0.69    22
0.80    20
0.67    19
0.71    19
0.63    18
0.87    18
0.83    17
0.65    17
1.05    15
1.00    14
0.59    12
0.95    11
0.57    10
1.25    10
0.91    10
1.33     9
0.61     8
0.56     7
1.11     7
1.54     7
1.43     7
0.47     7
0.51     6
0.54     6
1.18     5
0.50     3
1.82     2
0.53     2
0.49     1
2.00     1
0.40     1
1.67     1
2.50     1
Name: Rainfall, dtype: int64
-----
28    18
33    18
50    13
48    13
47    13
      ..
18     1
77     1
67     1
57     1
9      1
Name: Flyers, Length: 63, dtype: int64
-----
0.5    365
Name: Price, dtype: int64
-----
25     35
24     24
29     23
26     22
27     19
23     18
30     18
31     16
19     16
28     14
32     13
35     12
18     12
17     11
20     11
15     10
22     10
21     10
13      9
14      8
33      8
16      6
34      5
12      4
36      4
40      4
41      3
38      3
37      3
42      2
10      2
39      2
11      2
143     1
158     1
235     1
534     1
43      1
7       1
Name: Sales, dtype: int64
-----

In [7]:
lemons.describe()

       Temperature    Rainfall      Flyers  Price       Sales
count   365.000000  365.000000  365.000000  365.0  365.000000
mean     61.224658    0.825973   40.104110    0.5   27.865753
std      18.085892    0.273890   13.786445    0.0   30.948132
min      15.100000    0.400000  -38.000000    0.5    7.000000
25%      49.700000    0.650000   31.000000    0.5   20.000000
50%      61.100000    0.740000   39.000000    0.5   25.000000
75%      71.700000    0.910000   49.000000    0.5   30.000000
max     212.000000    2.500000   80.000000    0.5  534.000000

In [8]:
def get_lower_and_upper_bounds(col, mult=1.5):
    '''
    positional arguments:
    col: a pandas Series
    keyword arguments:
    mult: default 1.5, the magnutude specified for the IQR rule
    
    returns:
    lower_bound, upper_bound: two float values representing the fence values requested
    '''
    q1 = col.quantile(0.25)
    q3 = col.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - mult * iqr
    upper_bound = q3 + mult * iqr
    return lower_bound,upper_bound

Temperature	Rainfall	Flyers	Price	Sales

In [9]:
print(f'Temperature: {get_lower_and_upper_bounds(lemons.Temperature, mult=1.5)}')
print(f'Rainfall:    {get_lower_and_upper_bounds(lemons.Rainfall, mult=1.5)}')
print(f'Flyers:      {get_lower_and_upper_bounds(lemons.Flyers, mult=1.5)}')
print(f'Price:       {get_lower_and_upper_bounds(lemons.Price, mult=1.5)}')
print(f'Sales:       {get_lower_and_upper_bounds(lemons.Sales, mult=1.5)}')

Temperature: (16.700000000000003, 104.7)
Rainfall:    (0.26, 1.3)
Flyers:      (4.0, 76.0)
Price:       (0.5, 0.5)
Sales:       (5.0, 45.0)

In [10]:
# at a multiplier of 1.5:
# initialize outliers as a dictionary
outliers = {}
for col in lemons.columns:
    #if the datatype of that column is of the numpy number family:
    if np.issubdtype(lemons[col].dtype, np.number):
        #use our function to get the lower and upper bounds
        lower_bound, upper_bound = get_lower_and_upper_bounds(
            lemons[col])
        print(f'''Lower bound for {col}: {lower_bound}
        Upper bound for {col}: {upper_bound}.''')
        # establish outliers[colname] as a new dictionary
        outliers[col] = {}
        #establish key-value pairs for bound values
        # and do the same as a subset of the dataframe that represents
        #where our outliers sit
        outliers[col]['bounds'] = {'upper': upper_bound, 'lower': lower_bound}
        outliers[col]['lemons'] = lemons[(lemons[col] > upper_bound) | (
            lemons[col] < lower_bound)]

Lower bound for Temperature: 16.700000000000003
        Upper bound for Temperature: 104.7.
Lower bound for Rainfall: 0.26
        Upper bound for Rainfall: 1.3.
Lower bound for Flyers: 4.0
        Upper bound for Flyers: 76.0.
Lower bound for Price: 0.5
        Upper bound for Price: 0.5.
Lower bound for Sales: 5.0
        Upper bound for Sales: 45.0.

In [11]:
# at a multiplier of 2:
# initialize outliers as a dictionary
outliers = {}
for col in lemons.columns:
    #if the datatype of that column is of the numpy number family:
    if np.issubdtype(lemons[col].dtype, np.number):
        #use our function to get the lower and upper bounds
        lower_bound, upper_bound = get_lower_and_upper_bounds(
            lemons[col], mult=2)
        print(f'''Lower bound for {col}: {lower_bound}
        Upper bound for {col}: {upper_bound}.''')
        # establish outliers[colname] as a new dictionary
        outliers[col] = {}
        #establish key-value pairs for bound values
        # and do the same as a subset of the dataframe that represents
        #where our outliers sit
        outliers[col]['bounds'] = {'upper': upper_bound, 'lower': lower_bound}
        outliers[col]['df'] = lemons[(lemons[col] > upper_bound) | (
            lemons[col] < lower_bound)]
[print('\n----------------\n', key, '\n', outliers[key]['df'].to_markdown()) for key in outliers.keys()]

Lower bound for Temperature: 5.700000000000003
        Upper bound for Temperature: 115.7.
Lower bound for Rainfall: 0.13
        Upper bound for Rainfall: 1.4300000000000002.
Lower bound for Flyers: -5.0
        Upper bound for Flyers: 85.0.
Lower bound for Price: 0.5
        Upper bound for Price: 0.5.
Lower bound for Sales: 0.0
        Upper bound for Sales: 50.0.

----------------
 Temperature
 | Date                | Day      |   Temperature |   Rainfall |   Flyers |   Price |   Sales |
|:--------------------|:---------|--------------:|-----------:|---------:|--------:|--------:|
| 2017-02-11 00:00:00 | Saturday |           212 |       0.91 |       35 |     0.5 |      21 |

----------------
 Rainfall
 | Date                | Day       |   Temperature |   Rainfall |   Flyers |   Price |   Sales |
|:--------------------|:----------|--------------:|-----------:|---------:|--------:|--------:|
| 2017-01-01 00:00:00 | Sunday    |          27   |       2    |       15 |     0.5 |      10 |
| 2017-01-06 00:00:00 | Friday    |          25.3 |       1.54 |       23 |     0.5 |      11 |
| 2017-01-07 00:00:00 | Saturday  |          32.9 |       1.54 |       19 |     0.5 |      13 |
| 2017-01-11 00:00:00 | Wednesday |          32.6 |       1.54 |       23 |     0.5 |      12 |
| 2017-01-16 00:00:00 | Monday    |          30.6 |       1.67 |       24 |     0.5 |      12 |
| 2017-01-24 00:00:00 | Tuesday   |          28.6 |       1.54 |       20 |     0.5 |      12 |
| 2017-12-04 00:00:00 | Monday    |          34.9 |       1.54 |       16 |     0.5 |      13 |
| 2017-12-05 00:00:00 | Tuesday   |          22   |       1.82 |       11 |     0.5 |      10 |
| 2017-12-10 00:00:00 | Sunday    |          31.3 |       1.82 |       15 |     0.5 |      11 |
| 2017-12-14 00:00:00 | Thursday  |          31.9 |       1.54 |       24 |     0.5 |      13 |
| 2017-12-22 00:00:00 | Friday    |          30.9 |       1.54 |       17 |     0.5 |      13 |
| 2017-12-31 00:00:00 | Sunday    |          15.1 |       2.5  |        9 |     0.5 |       7 |

----------------
 Flyers
 | Date                | Day     |   Temperature |   Rainfall |   Flyers |   Price |   Sales |
|:--------------------|:--------|--------------:|-----------:|---------:|--------:|--------:|
| 2017-11-21 00:00:00 | Tuesday |            47 |       0.95 |      -38 |     0.5 |      20 |

----------------
 Price
 | Date   | Day   | Temperature   | Rainfall   | Flyers   | Price   | Sales   |
|--------|-------|---------------|------------|----------|---------|---------|

----------------
 Sales
 | Date                | Day      |   Temperature |   Rainfall |   Flyers |   Price |   Sales |
|:--------------------|:---------|--------------:|-----------:|---------:|--------:|--------:|
| 2017-07-01 00:00:00 | Saturday |         102.9 |       0.47 |       59 |     0.5 |     143 |
| 2017-07-02 00:00:00 | Sunday   |          93.4 |       0.51 |       68 |     0.5 |     158 |
| 2017-07-03 00:00:00 | Monday   |          81.5 |       0.54 |       68 |     0.5 |     235 |
| 2017-07-04 00:00:00 | Tuesday  |          84.2 |       0.59 |       49 |     0.5 |     534 |

[None, None, None, None, None]

In [12]:
# at a multiplier of 3:
# initialize outliers as a dictionary
outliers = {}
for col in lemons.columns:
    #if the datatype of that column is of the numpy number family:
    if np.issubdtype(lemons[col].dtype, np.number):
        #use our function to get the lower and upper bounds
        lower_bound, upper_bound = get_lower_and_upper_bounds(
            lemons[col], mult=3)
        print(f'''Lower bound for {col}: {lower_bound}
        Upper bound for {col}: {upper_bound}.''')
        # establish outliers[colname] as a new dictionary
        outliers[col] = {}
        #establish key-value pairs for bound values
        # and do the same as a subset of the dataframe that represents
        #where our outliers sit
        outliers[col]['bounds'] = {'upper': upper_bound, 'lower': lower_bound}
        outliers[col]['df'] = lemons[(lemons[col] > upper_bound) | (
            lemons[col] < lower_bound)]
[print('\n----------------\n', key, '\n', outliers[key]['df'].to_markdown()) for key in outliers.keys()]

Lower bound for Temperature: -16.299999999999997
        Upper bound for Temperature: 137.7.
Lower bound for Rainfall: -0.13
        Upper bound for Rainfall: 1.69.
Lower bound for Flyers: -23.0
        Upper bound for Flyers: 103.0.
Lower bound for Price: 0.5
        Upper bound for Price: 0.5.
Lower bound for Sales: -10.0
        Upper bound for Sales: 60.0.

----------------
 Temperature
 | Date                | Day      |   Temperature |   Rainfall |   Flyers |   Price |   Sales |
|:--------------------|:---------|--------------:|-----------:|---------:|--------:|--------:|
| 2017-02-11 00:00:00 | Saturday |           212 |       0.91 |       35 |     0.5 |      21 |

----------------
 Rainfall
 | Date                | Day     |   Temperature |   Rainfall |   Flyers |   Price |   Sales |
|:--------------------|:--------|--------------:|-----------:|---------:|--------:|--------:|
| 2017-01-01 00:00:00 | Sunday  |          27   |       2    |       15 |     0.5 |      10 |
| 2017-12-05 00:00:00 | Tuesday |          22   |       1.82 |       11 |     0.5 |      10 |
| 2017-12-10 00:00:00 | Sunday  |          31.3 |       1.82 |       15 |     0.5 |      11 |
| 2017-12-31 00:00:00 | Sunday  |          15.1 |       2.5  |        9 |     0.5 |       7 |

----------------
 Flyers
 | Date                | Day     |   Temperature |   Rainfall |   Flyers |   Price |   Sales |
|:--------------------|:--------|--------------:|-----------:|---------:|--------:|--------:|
| 2017-11-21 00:00:00 | Tuesday |            47 |       0.95 |      -38 |     0.5 |      20 |

----------------
 Price
 | Date   | Day   | Temperature   | Rainfall   | Flyers   | Price   | Sales   |
|--------|-------|---------------|------------|----------|---------|---------|

----------------
 Sales
 | Date                | Day      |   Temperature |   Rainfall |   Flyers |   Price |   Sales |
|:--------------------|:---------|--------------:|-----------:|---------:|--------:|--------:|
| 2017-07-01 00:00:00 | Saturday |         102.9 |       0.47 |       59 |     0.5 |     143 |
| 2017-07-02 00:00:00 | Sunday   |          93.4 |       0.51 |       68 |     0.5 |     158 |
| 2017-07-03 00:00:00 | Monday   |          81.5 |       0.54 |       68 |     0.5 |     235 |
| 2017-07-04 00:00:00 | Tuesday  |          84.2 |       0.59 |       49 |     0.5 |     534 |

[None, None, None, None, None]